In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('data/cars.csv', sep='\t')

In [6]:
data.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [9]:
target = data.loc[:, 'Price']
X = data.loc[:, ['Mileage', 'Cylinder', 'Leather']]

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()

In [18]:
model.fit(X, target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
prediction = model.predict(X)

In [21]:
from sklearn import metrics

In [24]:
metrics.mean_squared_error(target, prediction)

63136451.034403332

In [26]:
metrics.r2_score(target, prediction)

0.35303578931818802

In [29]:
X = data
del X['Price']
XX = pd.get_dummies(X)

In [30]:
XX.head()

,Mileage,Cylinder,Liter,Doors,Cruise,Sound,Leather,Make_Buick,Make_Cadillac,Make_Chevrolet,...,Trim_SVM Hatchback 4D,Trim_SVM Sedan 4D,Trim_Sedan 4D,Trim_Special Ed Ultra 4D,Trim_Sportwagon 4D,Type_Convertible,Type_Coupe,Type_Hatchback,Type_Sedan,Type_Wagon
0,8221,6,3.1,4,1,1,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
1,9135,6,3.1,4,1,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2,13196,6,3.1,4,1,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
3,16342,6,3.1,4,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
4,19832,6,3.1,4,1,0,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [32]:
X.shape

(804, 11)

In [34]:
model = LinearRegression()
model.fit(XX, target)
prediction = model.predict(XX)

In [35]:
metrics.mean_squared_error(target, prediction)

740868.54128766432

In [36]:
metrics.r2_score(target, prediction)

0.9924082614214097

In [38]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.3, random_state=0)

In [41]:
len(X_test)

242